.div3{
    height: 500px;
    width: 600px;
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 300px;
    background-color:#336699;
    border: 3px brown solid ;
   border-style: dashed ;
   
}

